<%= render 'zaikos/nav-item' %>

<div class="login" id="login-show">ログイン</div>
  <div class="login-modal-wrapper" id="login-modal">
    <!-- ログインのモーダル部分のHTMLを貼り付けてください -->
    <div class="modal">
      <div id="login-form">
        <h2>Emailログイン</h2>
        <form action="#">
          <input class="form-control" type="text" placeholder="メールアドレス">
          <input class="form-control" type="password" placeholder="パスワード">
          <div id="submit-btn">ログイン</div>
        </form>
      </div>
    </div>
    
  </div>
