<div class="row main">
  <div class="col-sm-12 title">
    <h1 class="text-center mb-5">Ｚａｉｋｏ</h1>
    <p class="text-center mt-5 mb-5">家やオフィスの在庫を管理しよう</p>
    <p class="text-center"><%= link_to("新しくはじめる",signup_path, class: "btn btn-info") %></p>
  </div>
</div>
<h3 class="text-center">「あれ何個あったっけ」を管理</h3>
<div class="mt-2 mb-5"><%= image_tag("",class: "gif") %></div>
<h3 class="text-center">直感的な操作</h3>
<div class="mt-2 mb-5"><%= image_tag("top2.gif",class: "gif") %></div>
<h3 class="text-center">グラフによる一覧性</h3>
<div class="mt-2 mb-5"><%= image_tag("aaa.gif",class: "gif") %></div>